/* screen - donate-select-payment-options */

.donate-select-payment-options {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 1316px;
  overflow: hidden;
  width: 1920px;
}

.donate-select-payment-options .overlap-group3 {
  height: 874px;
  margin-left: -156px;
  margin-top: 20px;
  position: relative;
  width: 2205px;
}

.donate-select-payment-options .container-265 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0px none;
  border-radius: 6px;
  display: flex;
  gap: 355px;
  height: 745px;
  left: 156px;
  min-width: 1920px;
  padding: 59.0px 132px;
  position: absolute;
  top: 129px;
}

.donate-select-payment-options .button-246 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  height: 52px;
  overflow: hidden;
  padding: 11px 20.0px;
  width: 208px;
}

.donate-select-payment-options .group {
  background-image: url(../img/group-601@2x.png);
  background-size: 100% 100%;
  height: 12px;
  width: 7px;
}

.donate-select-payment-options .flex-col {
  align-self: flex-end;
  flex-direction: column;
  margin-bottom: 3.0px;
  min-height: 611px;
  width: 542px;
}

.donate-select-payment-options .group-45 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 46px;
  width: 532px;
}

.donate-select-payment-options .overlap-group {
  height: 12px;
  margin-left: 6.0px;
  position: relative;
  width: 416px;
}

.donate-select-payment-options .container-266 {
  align-items: flex-start;
  background-color: var(--anakiwa);
  border: 0px none;
  display: flex;
  height: 4px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 5px;
  width: 197px;
}

.donate-select-payment-options .rectangle-17 {
  background-color: var(--desert-sand);
  border: 4px solid;
  margin-left: 192px;
  margin-top: -5.0px;
}

.donate-select-payment-options .rectangle-18 {
  background-color: var(--sail);
  border: 4px solid;
  left: 0;
  position: absolute;
  top: 0;
}

.donate-select-payment-options .container-267 {
  background-color: var(--mercury);
  border: 0px none;
  height: 4px;
  left: 212px;
  position: absolute;
  top: 5px;
  width: 197px;
}

.donate-select-payment-options .rectangle-19 {
  background-color: var(--mercury);
  border: 0px none;
  left: 404px;
  position: absolute;
  top: 0;
}

.donate-select-payment-options .rectangle-20 {
  background-color: var(--sail);
  border: 0px none;
  left: 202px;
  position: absolute;
  top: 0;
}

.donate-select-payment-options .flex-row {
  height: 28px;
  margin-right: 6.0px;
  min-width: 526px;
}

.donate-select-payment-options .donation-amount {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0;
  min-width: 139px;
  text-align: center;
  white-space: nowrap;
}

.donate-select-payment-options .payment-details {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 67px;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

.donate-select-payment-options .billing-details {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 84px;
  min-width: 106px;
  text-align: center;
  white-space: nowrap;
}

.donate-select-payment-options .title {
  align-self: center;
  letter-spacing: 0;
  line-height: 68px;
  margin-right: 33.0px;
  margin-top: 30px;
  min-width: 341px;
  text-align: center;
  white-space: nowrap;
}

.donate-select-payment-options .select-your-preferred-payment-method {
  align-self: center;
  letter-spacing: 0;
  line-height: 30px;
  margin-right: 7.0px;
  margin-top: 4px;
  min-width: 345px;
  text-align: center;
  white-space: nowrap;
}

.donate-select-payment-options .container-container {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  margin-top: 24px;
  min-width: 504px;
}

.donate-select-payment-options .container-269 {
  align-items: center;
  background-color: var(--sail);
  border: 1px solid;
  border-radius: 16px;
  display: flex;
  height: 64px;
  overflow: hidden;
  padding: 0 18px;
  width: 246px;
}

.donate-select-payment-options .radio {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 28px;
  min-width: 48px;
}

.donate-select-payment-options .overlap-group-1 {
  align-items: flex-start;
  align-self: center;
  border: 1px solid;
  border-color: #166db0;
  border-radius: 10px;
  display: flex;
  height: 20px;
  min-width: 20px;
  padding: 3.5px;
}

.donate-select-payment-options .ellipse {
  background-color: #166db0;
  border: 1px solid;
  border-color: transparent;
  border-radius: 5.5px;
  height: 11px;
  width: 11px;
}

.donate-select-payment-options .text {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
}

.donate-select-payment-options .image-150 {
  align-items: flex-start;
  height: 20px;
  margin-left: 2px;
  margin-top: 2.0px;
  padding: 1.6px 0.0px;
  width: 55px;
}

.donate-select-payment-options .group-container {
  height: 17px;
  position: relative;
  width: 55px;
}

.donate-select-payment-options .group-1 {
  height: 16px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 16px;
}

.donate-select-payment-options .group-2 {
  height: 17px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 13px;
}

.donate-select-payment-options .group-3 {
  height: 9px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.donate-select-payment-options .group-4 {
  height: 16px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 16px;
}

.donate-select-payment-options .group-5 {
  height: 16px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 7px;
}

.donate-select-payment-options .image-152 {
  align-items: flex-start;
  margin-left: 12px;
  margin-top: 1.0px;
  padding: 0 0.7px;
  width: 38px;
}

.donate-select-payment-options .group-container-1 {
  height: 23px;
  margin-top: 0;
  position: relative;
  width: 37px;
}

.donate-select-payment-options .group-6 {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.donate-select-payment-options .group-7 {
  height: 23px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.donate-select-payment-options .group-8 {
  height: 23px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 18px;
}

.donate-select-payment-options .image-151 {
  align-items: flex-end;
  margin-left: 12px;
  margin-top: 1.0px;
  overflow: hidden;
  width: 42px;
}

.donate-select-payment-options .overlap-group-2 {
  align-items: flex-end;
  background-image: url(../img/group-103@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 23px;
  margin-bottom: 0;
  min-width: 42px;
  padding: 7.0px 3.3px;
}

.donate-select-payment-options .group-9 {
  height: 9px;
  width: 35px;
}

.donate-select-payment-options .container-268 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--mercury);
  border-radius: 16px;
  display: flex;
  gap: 2px;
  height: 64px;
  overflow: hidden;
  padding: 0 18px;
  width: 246px;
}

.donate-select-payment-options .ellipse-1 {
  align-self: center;
  border: 1px solid;
  border-color: var(--black-coral-pearl);
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

.donate-select-payment-options .text-1 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
}

.donate-select-payment-options .image-149 {
  align-items: center;
  height: 23px;
  margin-top: 1.0px;
  overflow: hidden;
  width: 80px;
}

.donate-select-payment-options .group-container-2 {
  height: 17px;
  margin-bottom: 1.47px;
  position: relative;
  width: 29px;
}

.donate-select-payment-options .group-10 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.donate-select-payment-options .group-11 {
  height: 12px;
  left: 14px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.donate-select-payment-options .group-container-3 {
  align-self: flex-end;
  height: 21px;
  margin-bottom: 0;
  margin-left: 1px;
  position: relative;
  width: 43px;
}

.donate-select-payment-options .group-12 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 14px;
}

.donate-select-payment-options .group-13 {
  height: 12px;
  left: 28px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.donate-select-payment-options .group-14 {
  height: 17px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 15px;
}

.donate-select-payment-options .group-15 {
  height: 17px;
  margin-bottom: 1.74px;
  width: 6px;
}

.donate-select-payment-options .textbox-123 {
  flex-direction: column;
  gap: 1px;
  margin-top: 24px;
  min-height: 81px;
  width: 504px;
}

.donate-select-payment-options .credit-card-number-required {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
}

.donate-select-payment-options .textfield {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 53px;
  margin-left: -1px;
  min-width: 505px;
  padding: 11.5px 20px;
}

.donate-select-payment-options .enter-card-number {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.donate-select-payment-options .cvv-required {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
}

.donate-select-payment-options .textfield-1 {
  gap: 356px;
}

.donate-select-payment-options .enter-cvv {
  letter-spacing: 0;
  line-height: 28px;
  min-width: 84px;
  white-space: nowrap;
}

.donate-select-payment-options .c-info {
  align-self: center;
  height: 24px;
  margin-bottom: 1.0px;
  width: 24px;
}

.donate-select-payment-options .expiry-date-required {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  white-space: nowrap;
}

.donate-select-payment-options .textfield-2 {
  gap: 380px;
}

.donate-select-payment-options .mmyy {
  letter-spacing: 0;
  line-height: 28px;
  min-width: 60px;
  white-space: nowrap;
}

.donate-select-payment-options .chevron-down-large {
  align-self: center;
  height: 24px;
  margin-bottom: 1.0px;
  width: 24px;
}

.donate-select-payment-options .button-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 24px;
  margin-right: 12.0px;
  margin-top: 14px;
  min-width: 424px;
}

.donate-select-payment-options .button-248 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--picton-blue);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 11px 79.5px;
  transition: all 0.2s ease-in;
  width: 200px;
}

.donate-select-payment-options .button-248:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .place {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.donate-select-payment-options .button-247 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 11px 62px;
  transition: all 0.2s ease-in;
  width: 200px;
}

.donate-select-payment-options .button-247:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-25 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  min-height: 140px;
  position: absolute;
  top: 0;
  width: 2205px;
}

.donate-select-payment-options .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-left: 7.0px;
  min-width: 1860px;
}

.donate-select-payment-options .image {
  align-items: flex-start;
  border: 0px none;
  display: flex;
  height: 40px;
  padding: 1.9px 2.8px;
  width: 40px;
}

.donate-select-payment-options .group-container-4 {
  height: 36px;
  position: relative;
  width: 34px;
}

.donate-select-payment-options .group-16 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.donate-select-payment-options .group-17 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 16px;
}

.donate-select-payment-options .group-18 {
  height: 16px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 16px;
}

.donate-select-payment-options .group-19 {
  height: 9px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 9px;
}

.donate-select-payment-options .cancer-detection {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 30px;
  min-height: 50px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  width: 250px;
}

.donate-select-payment-options .cancer-detection:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .button {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--picton-blue);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 1219px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 35px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .button:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-20 {
  height: 12px;
  width: 9px;
}

.donate-select-payment-options .group-21 {
  height: 3px;
  margin-right: 4.23px;
  width: 3px;
}

.donate-select-payment-options .button-1 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 21px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 30.5px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .button-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .log-in {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 24px;
  margin-top: 0;
  padding: 1.5px 2.4px;
  width: 24px;
}

.donate-select-payment-options .group-container-5 {
  height: 21px;
  position: relative;
  width: 19px;
}

.donate-select-payment-options .group-22 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 13px;
}

.donate-select-payment-options .group-23 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 7px;
}

.donate-select-payment-options .group-24 {
  height: 21px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 12px;
}

.donate-select-payment-options .container {
  align-items: flex-start;
  background-color: var(--sail);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  justify-content: flex-end;
  margin-right: 2.0px;
  min-width: 2203px;
  padding: 0 127.2px;
}

.donate-select-payment-options .frame {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 336px;
}

.donate-select-payment-options .frame:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .place-1 {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.donate-select-payment-options .frame-1 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 388px;
}

.donate-select-payment-options .frame-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .frame-2 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 132.0px;
  transition: all 0.2s ease-in;
  width: 390px;
}

.donate-select-payment-options .frame-2:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .for-patient {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  white-space: nowrap;
}

.donate-select-payment-options .frame-3 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 133.0px;
  transition: all 0.2s ease-in;
  width: 436px;
}

.donate-select-payment-options .frame-3:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .for-nutritionist {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 1px;
  white-space: nowrap;
}

.donate-select-payment-options .frame-4 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 370px;
}

.donate-select-payment-options .frame-4:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .container-1 {
  align-items: center;
  background-color: var(--mercury);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  min-height: 392px;
  padding: 24px 131px;
  width: 1920px;
}

.donate-select-payment-options .flex-row-2 {
  align-items: center;
  display: flex;
  height: 153px;
  margin-right: 3.0px;
  margin-top: 34px;
  min-width: 863px;
}

.donate-select-payment-options .flex-col-1 {
  align-items: flex-end;
  gap: 53px;
  min-height: 153px;
  width: 751px;
}

.donate-select-payment-options .overlap-group2 {
  height: 66px;
  position: relative;
  width: 751px;
}

.donate-select-payment-options .subscribe-to-our-newsletter {
  left: 302px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 265px;
}

.donate-select-payment-options .textbox-2 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px 0px 0px 6px;
  gap: 6px;
  height: 37px;
  left: 0;
  min-width: 751px;
  padding: 6.5px 12px;
  position: absolute;
  top: 29px;
}

.donate-select-payment-options .mail {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  width: 16px;
}

.donate-select-payment-options .input-your-email {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.donate-select-payment-options .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  margin-right: 31px;
  min-width: 550px;
}

.donate-select-payment-options .services {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .services:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .resources {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 45px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .resources:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .organization {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 55px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .organization:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .button-9 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  display: flex;
  height: 36px;
  margin-bottom: 57.0px;
  overflow: hidden;
  padding: 6px 23.5px;
  transition: all 0.2s ease-in;
  width: 112px;
}

.donate-select-payment-options .button-9:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .subscribe {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 1px;
  white-space: nowrap;
}

.donate-select-payment-options .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 56px;
  margin-left: 24.0px;
  margin-top: 8px;
  min-width: 550px;
}

.donate-select-payment-options .for-patient-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .for-patient-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .for-doctor-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .for-doctor-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .flex-col-2 {
  align-items: flex-start;
  gap: 12px;
  margin-left: 45px;
  min-height: 56px;
  width: 150px;
}

.donate-select-payment-options .review-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .review-us:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .need-to-know {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .need-to-know:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .about-us:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .contact-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .contact-us:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .flex-col-3 {
  align-items: center;
  align-self: flex-start;
  gap: 22px;
  margin-top: 12px;
  min-height: 81px;
  width: 1657px;
}

.donate-select-payment-options .for-nutritionist-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-right: 375.0px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.donate-select-payment-options .for-nutritionist-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .flex-row-5 {
  align-items: center;
  display: flex;
  min-width: 1657px;
}

.donate-select-payment-options .textbox-1 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  gap: 41px;
  height: 37px;
  min-width: 129px;
  padding: 6.5px 12px;
}

.donate-select-payment-options .language {
  letter-spacing: 0;
  line-height: 22px;
  min-width: 47px;
  white-space: nowrap;
}

.donate-select-payment-options .chevron-down-large-1 {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  width: 16px;
}

.donate-select-payment-options .copyright {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 530px;
  margin-top: 1.0px;
  min-width: 116px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.donate-select-payment-options .copyright:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .text-26 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 17px;
  margin-top: 1.0px;
  width: 7px;
}

.donate-select-payment-options .privacy {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 46px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.donate-select-payment-options .privacy:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .text-2 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 9px;
  margin-top: 1.0px;
  width: 7px;
}

.donate-select-payment-options .terms {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 39px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.donate-select-payment-options .terms:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .sitemap {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 7px;
  margin-top: 1.0px;
  min-width: 53px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.donate-select-payment-options .sitemap:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .logo-twitter-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 525px;
  margin-top: 1.0px;
  padding: 0 2.3px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.donate-select-payment-options .logo-twitter-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-26 {
  background-image: url(../img/group-457@2x.png);
  background-size: 100% 100%;
  height: 16px;
  width: 19px;
}

.donate-select-payment-options .logo-facebook-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 2.4px 2.4px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.donate-select-payment-options .logo-facebook-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-27 {
  background-image: url(../img/group-458@2x.png);
  background-size: 100% 100%;
  height: 19px;
  width: 19px;
}

.donate-select-payment-options .logo-linkedin-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 0 3px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.donate-select-payment-options .logo-linkedin-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-28 {
  background-image: url(../img/group-459@2x.png);
  background-size: 100% 100%;
  height: 18px;
  width: 18px;
}

.donate-select-payment-options .logo-youtube-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 5.2px 2.4px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.donate-select-payment-options .logo-youtube-1:hover {
  transform: scale(1.1);
}

.donate-select-payment-options .group-29 {
  background-image: url(../img/group-456@2x.png);
  background-size: 100% 100%;
  height: 14px;
  width: 19px;
}

.donate-select-payment-options .flex {
  align-items: flex-end;
  display: flex;
}

.donate-select-payment-options .flex-col-4 {
  display: flex;
  flex-direction: column;
}

.donate-select-payment-options .image-1 {
  border: 0px none;
  display: flex;
}

.donate-select-payment-options .rectangle {
  border-radius: 6px;
  height: 12px;
  width: 12px;
}

.donate-select-payment-options .textbox {
  align-items: flex-start;
  display: flex;
}

.donate-select-payment-options .textfield-3 {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 53px;
  margin-left: -1px;
  min-width: 505px;
  padding: 11.5px 20px;
}
