/* screen - nutritionist-note-site */

.nutritionist-note-site {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3681px;
  overflow: hidden;
  width: 1920px;
}

.nutritionist-note-site .group-25 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -156px;
  margin-top: 20px;
  min-height: 140px;
  width: 2205px;
}

.nutritionist-note-site .flex-row {
  height: 50px;
  margin-left: 7.0px;
  min-width: 1860px;
}

.nutritionist-note-site .image {
  align-items: flex-start;
  border: 0px none;
  display: flex;
  height: 40px;
  padding: 1.9px 2.8px;
  width: 40px;
}

.nutritionist-note-site .group-container-1 {
  height: 36px;
  position: relative;
  width: 34px;
}

.nutritionist-note-site .group-4 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.nutritionist-note-site .group-5 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 16px;
}

.nutritionist-note-site .group-6 {
  height: 16px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 16px;
}

.nutritionist-note-site .group-7 {
  height: 9px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 9px;
}

.nutritionist-note-site .cancer-detection {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 30px;
  min-height: 50px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  width: 250px;
}

.nutritionist-note-site .cancer-detection:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .button {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--picton-blue);
  border-radius: 10px;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 1219px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 35px;
  width: 150px;
}

.nutritionist-note-site .group-8 {
  height: 12px;
  width: 9px;
}

.nutritionist-note-site .group-9 {
  height: 3px;
  margin-right: 4.23px;
  width: 3px;
}

.nutritionist-note-site .button-2 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 21px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 30.5px;
  width: 150px;
}

.nutritionist-note-site .log-in {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 24px;
  margin-top: 0;
  padding: 1.5px 2.4px;
  width: 24px;
}

.nutritionist-note-site .group-container-2 {
  height: 21px;
  position: relative;
  width: 19px;
}

.nutritionist-note-site .group-10 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 13px;
}

.nutritionist-note-site .group-11 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 7px;
}

.nutritionist-note-site .group-12 {
  height: 21px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 12px;
}

.nutritionist-note-site .container {
  align-items: flex-start;
  background-color: var(--sail);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  justify-content: flex-end;
  margin-right: 2.0px;
  min-width: 2203px;
  padding: 0 127.2px;
}

.nutritionist-note-site .frame-2 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 336px;
}

.nutritionist-note-site .frame-2:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .place {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.nutritionist-note-site .frame-3 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 388px;
}

.nutritionist-note-site .frame-3:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .frame-4 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 132.0px;
  transition: all 0.2s ease-in;
  width: 390px;
}

.nutritionist-note-site .frame-4:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .for-patient {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 2px;
  white-space: nowrap;
}

.nutritionist-note-site .frame-5 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 133.0px;
  transition: all 0.2s ease-in;
  width: 436px;
}

.nutritionist-note-site .frame-5:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .for-nutritionist {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 1px;
  white-space: nowrap;
}

.nutritionist-note-site .frame-6 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 370px;
}

.nutritionist-note-site .frame-6:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 3141px;
  min-width: 1920px;
}

.nutritionist-note-site .container-218 {
  align-items: center;
  background-color: var(--white);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  min-height: 3139px;
  width: 340px;
}

.nutritionist-note-site .title {
  letter-spacing: 0;
  line-height: 48px;
  margin-right: 50.0px;
  margin-top: 32px;
  min-width: 226px;
  white-space: nowrap;
}

.nutritionist-note-site .overlap-group {
  height: 414px;
  margin-right: 26.0px;
  margin-top: 35px;
  position: relative;
  width: 266px;
}

.nutritionist-note-site .sidebar-menu-1 {
  gap: 18px;
  left: 0;
  min-height: 414px;
  position: absolute;
  top: 0;
}

.nutritionist-note-site .frame-7 {
  align-items: flex-start;
  background-color: var(--alice-blue-3);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 54px;
  overflow: hidden;
  padding: 11px 16px;
  transition: all 0.2s ease-in;
  width: 266px;
}

.nutritionist-note-site .frame-7:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .dashboard {
  letter-spacing: 0;
  line-height: 30px;
  width: 206px;
}

.nutritionist-note-site .frame-8 {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 56px;
  overflow: hidden;
  padding: 0 16px;
  transition: all 0.2s ease-in;
  width: 266px;
}

.nutritionist-note-site .frame-8:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .folder {
  height: 32px;
  width: 32px;
}

.nutritionist-note-site .patient-profiles {
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 2.0px;
  width: 194px;
}

.nutritionist-note-site .frame {
  align-items: flex-start;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 54px;
  overflow: hidden;
  padding: 11px 16px;
  transition: all 0.2s ease-in;
  width: 266px;
}

.nutritionist-note-site .frame:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .place-1 {
  width: 206px;
}

.nutritionist-note-site .doctor-note {
  letter-spacing: 0;
  line-height: 30px;
  width: 206px;
}

.nutritionist-note-site .line-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 196px;
  width: 190px;
}

.nutritionist-note-site .personal {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 48px;
  margin-left: 30px;
  margin-top: 14px;
  white-space: nowrap;
}

.nutritionist-note-site .sidebar-menu-2 {
  gap: 17px;
  margin-right: 26.0px;
  margin-top: 15px;
  min-height: 259px;
}

.nutritionist-note-site .teams {
  letter-spacing: 0;
  line-height: 30px;
  width: 206px;
}

.nutritionist-note-site .frame-9 {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  height: 54px;
  overflow: hidden;
  padding: 11px 16px;
  transition: all 0.2s ease-in;
  width: 266px;
}

.nutritionist-note-site .frame-9:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .messages {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 8px;
  width: 160px;
}

.nutritionist-note-site .frame-10 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: flex-end;
  margin-left: 16px;
  min-width: 30px;
  padding: 4px 5.9px;
}

.nutritionist-note-site .text-37 {
  letter-spacing: 0;
  line-height: 10px;
  white-space: nowrap;
}

.nutritionist-note-site .frame-1 {
  align-items: flex-start;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 50px;
  overflow: hidden;
  padding: 9px 16px;
  transition: all 0.2s ease-in;
  width: 266px;
}

.nutritionist-note-site .frame-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .notifications {
  letter-spacing: 0;
  line-height: 30px;
  width: 206px;
}

.nutritionist-note-site .setting {
  letter-spacing: 0;
  line-height: 30px;
  width: 206px;
}

.nutritionist-note-site .container-305 {
  align-items: center;
  align-self: flex-start;
  background-color: var(--white);
  border: 0px none;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  cursor: pointer;
  display: flex;
  gap: 30px;
  height: 90px;
  margin-left: -12px;
  margin-top: 2186px;
  min-width: 352px;
  padding: 12px 30px;
  transition: all 0.2s ease-in;
}

.nutritionist-note-site .container-305:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .avatar-5 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--picton-blue-2);
  border-radius: 32px;
  height: 64px;
  padding: 0 23px;
  width: 64px;
}

.nutritionist-note-site .j {
  color: #00293d;
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  min-width: 18px;
  white-space: nowrap;
}

.nutritionist-note-site .name {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 8.0px;
  min-width: 122px;
  white-space: nowrap;
}

.nutritionist-note-site .flex-col {
  flex-direction: column;
  min-height: 3141px;
  width: 1580px;
}

.nutritionist-note-site .container-215 {
  align-items: flex-end;
  background-color: var(--white);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  height: 58px;
  min-width: 1580px;
  padding: 6.0px 32px;
}

.nutritionist-note-site .flex-row-2 {
  align-items: center;
  display: flex;
  margin-left: 35px;
  margin-top: 23px;
  min-width: 452px;
}

.nutritionist-note-site .chevron-left-large {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 16px;
  margin-left: 1px;
  padding: 2.0px 4.0px;
  width: 16px;
}

.nutritionist-note-site .group {
  background-image: url(../img/group-549@2x.png);
  background-size: 100% 100%;
  height: 12px;
  width: 7px;
}

.nutritionist-note-site .text {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .rectangle-1 {
  height: 88px;
  width: 88px;
}

.nutritionist-note-site .name-1 {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 16.0px;
  margin-left: 23px;
  width: 194px;
}

.nutritionist-note-site .frame-11 {
  align-items: flex-start;
  background-color: var(--alice-blue);
  border-radius: 22px;
  display: flex;
  height: 44px;
  margin-bottom: 14.0px;
  margin-left: 13px;
  overflow: hidden;
  padding: 6px 16px;
  width: 73px;
}

.nutritionist-note-site .new {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .flex-col-1 {
  align-items: center;
  margin-top: 67px;
  min-height: 2905px;
  width: 1580px;
}

.nutritionist-note-site .container-217 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0px none;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  margin-right: 0.5px;
  min-height: 880px;
  padding: 24.0px 0;
  width: 1580px;
}

.nutritionist-note-site .flex-row-3 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 36px;
  margin-left: 24.0px;
  min-width: 264px;
}

.nutritionist-note-site .group-13 {
  background-image: url(../img/flat-34@2x.png);
  background-size: 100% 100%;
  height: 16px;
  width: 19px;
}

.nutritionist-note-site .general-information {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.nutritionist-note-site .line-31 {
  height: 1px;
  margin-top: 15px;
  object-fit: cover;
  width: 1580px;
}

.nutritionist-note-site .flex-row-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 451px;
  margin-left: 2.0px;
  margin-top: 6px;
  min-width: 1530px;
}

.nutritionist-note-site .flex-col-2 {
  align-items: flex-start;
  align-self: flex-end;
  min-height: 440px;
  width: 400px;
}

.nutritionist-note-site .textbox-53 {
  flex-direction: column;
  gap: 1px;
  margin-top: 33px;
  min-height: 83px;
  width: 400px;
}

.nutritionist-note-site .place-2 {
  margin-top: -1px;
  white-space: nowrap;
}

.nutritionist-note-site .textfield {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 53px;
  margin-left: -1px;
  min-width: 401px;
  padding: 10.5px 20px;
}

.nutritionist-note-site .name-2 {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .textbox-5 {
  flex-direction: column;
  gap: 1px;
  margin-top: 15px;
  min-height: 83px;
  width: 400px;
}

.nutritionist-note-site .date {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .phone {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
}

.nutritionist-note-site .textbox-container {
  align-self: center;
  flex-direction: column;
  margin-bottom: 18.0px;
  margin-left: 118px;
  min-height: 285px;
  width: 400px;
}

.nutritionist-note-site .textbox-56-2 {
  width: 400px;
}

.nutritionist-note-site .email {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
}

.nutritionist-note-site .taylorandrewhotmailcom {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .sex {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  white-space: nowrap;
}

.nutritionist-note-site .male {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .textbox-56 {
  flex-direction: column;
  gap: 1px;
  margin-top: 21px;
  min-height: 83px;
  width: 400px;
}

.nutritionist-note-site .number {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .flex-col-3 {
  align-items: flex-start;
  margin-left: 117px;
  min-height: 359px;
  width: 495px;
}

.nutritionist-note-site .button-207 {
  align-items: flex-start;
  align-self: flex-end;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  gap: 8px;
  height: 52px;
  overflow: hidden;
  padding: 10px 19px;
  width: 103px;
}

.nutritionist-note-site .group-14 {
  background-image: url(../img/flat-33@2x.png);
  background-size: 100% 100%;
  height: 16px;
  margin-left: 1px;
  width: 16px;
}

.nutritionist-note-site .textbox-56-3 {
  margin-top: 22px;
  width: 400px;
}

.nutritionist-note-site .place-3 {
  white-space: nowrap;
}

.nutritionist-note-site .number-1 {
  line-height: 30px;
}

.nutritionist-note-site .number-2 {
  line-height: 30px;
}

.nutritionist-note-site .line-30 {
  align-self: center;
  height: 1px;
  margin-top: 34px;
  object-fit: cover;
  width: 1532px;
}

.nutritionist-note-site .textbox-container-1 {
  margin-top: 45px;
}

.nutritionist-note-site .textbox-56-1 {
  width: 440px;
}

.nutritionist-note-site .textfield-1 {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 53px;
  margin-left: -1px;
  min-width: 441px;
  padding: 10.5px 20px;
}

.nutritionist-note-site .address {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .place-4 {
  white-space: nowrap;
}

.nutritionist-note-site .textbox-container-2 {
  margin-top: 15px;
}

.nutritionist-note-site .flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 53px;
  margin-left: 23.5px;
  margin-top: 39px;
  min-width: 1484px;
}

.nutritionist-note-site .button-120:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-container-3 {
  height: 17px;
  position: relative;
  width: 17px;
}

.nutritionist-note-site .group-container-4 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 17px;
}

.nutritionist-note-site .group-15 {
  height: 2px;
  left: 8px;
  position: absolute;
  top: 2px;
  width: 10px;
}

.nutritionist-note-site .overlap-group-container {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.nutritionist-note-site .group-container-5 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 7px;
}

.nutritionist-note-site .group-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 4px;
}

.nutritionist-note-site .group-2 {
  height: 6px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 5px;
}

.nutritionist-note-site .group-container-6 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 14px;
}

.nutritionist-note-site .group-16 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 11px;
}

.nutritionist-note-site .group-17 {
  height: 6px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 5px;
}

.nutritionist-note-site .group-container-7 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 7px;
}

.nutritionist-note-site .group-18 {
  height: 2px;
  left: 8px;
  position: absolute;
  top: 14px;
  width: 10px;
}

.nutritionist-note-site .group-19 {
  height: 2px;
  left: 15px;
  position: absolute;
  top: 8px;
  width: 2px;
}

.nutritionist-note-site .text-1 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .button-121 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 52px;
  margin-left: 6px;
  overflow: hidden;
  padding: 10px 20px;
  transition: all 0.2s ease-in;
  width: 158px;
}

.nutritionist-note-site .button-121:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .download {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 20px;
  padding: 2.0px 2.0px;
  width: 20px;
}

.nutritionist-note-site .group-container {
  height: 16px;
  position: relative;
  width: 16px;
}

.nutritionist-note-site .group-20 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 2px;
}

.nutritionist-note-site .group-21 {
  height: 5px;
  left: 4px;
  position: absolute;
  top: 8px;
  width: 8px;
}

.nutritionist-note-site .group-22 {
  height: 10px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 16px;
}

.nutritionist-note-site .container-262 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--wild-sand);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-right: 0.5px;
  margin-top: 16px;
  min-height: 687px;
  padding: 23px 36px;
  width: 1580px;
}

.nutritionist-note-site .dropdown-button-2 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--wild-sand);
  border-color: transparent;
  border-radius: 16px;
  gap: 7px;
  min-width: 114px;
  padding: 10.5px 20px;
}

.nutritionist-note-site .number-3 {
  line-height: 30px;
  min-width: 46px;
}

.nutritionist-note-site .chevron-down-large-1 {
  align-self: center;
  height: 20px;
  margin-bottom: 1.0px;
  width: 20px;
}

.nutritionist-note-site .frame-12 {
  align-items: center;
  display: flex;
  gap: 4px;
  height: 22px;
  justify-content: flex-end;
  min-width: 122px;
}

.nutritionist-note-site .ellipse {
  background-color: var(--gold);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  height: 12px;
  margin-top: 0;
  width: 12px;
}

.nutritionist-note-site .overlap-group-1 {
  height: 308px;
  position: relative;
  width: 1267px;
}

.nutritionist-note-site .group-23 {
  height: 308px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1266px;
}

.nutritionist-note-site .rectangle-2 {
  background-color: var(--gold);
  border: 0px none;
  height: 130px;
  width: 95px;
}

.nutritionist-note-site .rectangle-3 {
  background-color: var(--gold);
  border: 0px none;
  height: 39px;
  width: 95px;
}

.nutritionist-note-site .rectangle-4 {
  background-color: var(--gold);
  border: 0px none;
  height: 295px;
  width: 95px;
}

.nutritionist-note-site .rectangle-5 {
  background-color: var(--gold);
  border: 0px none;
  height: 195px;
  margin-bottom: 0;
  width: 95px;
}

.nutritionist-note-site .rectangle-6 {
  background-color: var(--gold);
  border: 0px none;
  height: 209px;
  margin-bottom: 0;
  width: 95px;
}

.nutritionist-note-site .rectangle-7 {
  background-color: var(--gold);
  border: 0px none;
  height: 211px;
  width: 95px;
}

.nutritionist-note-site .rectangle-8 {
  background-color: var(--gold);
  border: 0px none;
  height: 135px;
  width: 95px;
}

.nutritionist-note-site .rectangle-9 {
  background-color: var(--gold);
  border: 0px none;
  height: 43px;
  margin-bottom: 0;
  width: 95px;
}

.nutritionist-note-site .frame-13 {
  height: 308px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1267px;
}

.nutritionist-note-site .container-266 {
  align-items: center;
  background-color: var(--white);
  border: 0px none;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  height: 78px;
  justify-content: flex-end;
  margin-left: 22.0px;
  margin-top: 57px;
  min-width: 1308px;
  padding: 1.0px 6px;
}

.nutritionist-note-site .text-2 {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .family-history {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 30px;
  margin-bottom: 2.0px;
  margin-left: 52px;
  min-height: 60px;
  text-align: center;
  width: 92px;
}

.nutritionist-note-site .chronic-pancreatitis {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 55px;
  margin-top: 4.0px;
  min-height: 60px;
  width: 109px;
}

.nutritionist-note-site .chevron-right-large {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 16px;
  margin-left: 1px;
  padding: 2.0px 4.2px;
  width: 16px;
}

.nutritionist-note-site .group-24 {
  background-image: url(../img/group-550@2x.png);
  background-size: 100% 100%;
  height: 12px;
  width: 7px;
}

.nutritionist-note-site .text-4 {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .container-323 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0px none;
  border-radius: 6px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  margin-left: 0.5px;
  margin-top: 8px;
  min-height: 672px;
  padding: 30.0px 36px;
  width: 1580px;
}

.nutritionist-note-site .flex-row-6 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  gap: 1054px;
  margin-top: 1px;
  min-width: 1505px;
}

.nutritionist-note-site .nutritionist-comments {
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 6.0px;
  min-width: 258px;
  white-space: nowrap;
}

.nutritionist-note-site .button-235 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  height: 52px;
  overflow: hidden;
  padding: 10px 20px;
  transition: all 0.2s ease-in;
  width: 193px;
}

.nutritionist-note-site .button-235:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-26 {
  height: 5px;
  left: 9px;
  position: absolute;
  top: 2px;
  width: 5px;
}

.nutritionist-note-site .group-27 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.nutritionist-note-site .container-276 {
  align-items: flex-end;
  background-color: var(--alabaster);
  border: 0px none;
  border-radius: 8px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 3px;
  margin-top: 26px;
  min-height: 60px;
  width: 1449px;
}

.nutritionist-note-site .flex-row-7 {
  align-items: center;
  display: flex;
  height: 30px;
  margin-right: 4px;
  margin-top: 15px;
  min-width: 1429px;
}

.nutritionist-note-site .avatar-62 {
  align-items: flex-start;
  background-color: var(--wafer);
  border-radius: 14px;
  margin-bottom: 0;
  width: 28px;
}

.nutritionist-note-site .rectangle {
  height: 28px;
  width: 28px;
}

.nutritionist-note-site .dr-ann {
  margin-left: 30px;
  min-width: 65px;
}

.nutritionist-note-site .x1050-am {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 1229px;
  min-width: 77px;
  text-align: right;
  white-space: nowrap;
}

.nutritionist-note-site .container-277 {
  align-items: center;
  background-color: var(--alabaster);
  border: 0px none;
  border-radius: 8px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 3px;
  margin-top: 221px;
  min-width: 1449px;
  padding: 10.0px 14px;
}

.nutritionist-note-site .avatar-63 {
  align-items: flex-start;
  background-color: var(--swiss-coffee);
  border-radius: 14px;
  width: 28px;
}

.nutritionist-note-site .dr-min {
  align-self: flex-start;
  margin-left: 16px;
  min-width: 61px;
}

.nutritionist-note-site .x1050-am-1 {
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 1237px;
  margin-top: 0;
  min-width: 77px;
  text-align: right;
  white-space: nowrap;
}

.nutritionist-note-site .lifestyle-and-habit {
  align-self: center;
  letter-spacing: 0;
  line-height: 28px;
  margin-right: 37.0px;
  margin-top: 8px;
  min-height: 184px;
  width: 1433px;
}

.nutritionist-note-site .container-244 {
  align-items: flex-start;
  background-color: var(--white);
  border: 0px none;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  margin-right: 0.5px;
  margin-top: 8px;
  min-height: 541px;
  padding: 15.0px 23px;
  width: 1580px;
}

.nutritionist-note-site .overlap-group6 {
  height: 379px;
  margin-top: 23px;
  position: relative;
  width: 1533px;
}

.nutritionist-note-site .dropdown-button-8 {
  align-items: center;
  align-self: flex-start;
  border-color: var(--french-gray);
  border-radius: 6px;
  margin-left: 7px;
  min-width: 93px;
  padding: 11.5px 20px;
}

.nutritionist-note-site .text-5 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 8px;
  min-width: 1px;
  white-space: nowrap;
}

.nutritionist-note-site .chevron-down-large-2 {
  height: 18px;
  margin-bottom: 1.0px;
  margin-left: 7px;
  width: 18px;
}

.nutritionist-note-site .button-1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 52px;
  margin-top: 0;
  overflow: hidden;
  padding: 11px 13px;
  width: 52px;
}

.nutritionist-note-site .group-28 {
  background-image: url(../img/flat-23@2x.png);
  background-size: 100% 100%;
  height: 15px;
  width: 13px;
}

.nutritionist-note-site .text-6 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .button-174 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 52px;
  margin-left: 3px;
  margin-top: 0;
  overflow: hidden;
  padding: 11px 13px;
  width: 52px;
}

.nutritionist-note-site .group-29 {
  height: 3px;
  margin-right: 0.47px;
  width: 3px;
}

.nutritionist-note-site .group-30 {
  height: 15px;
  margin-right: 2.44px;
  width: 7px;
}

.nutritionist-note-site .text-7 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .group-31 {
  background-image: url(../img/flat-24@2x.png);
  background-size: 100% 100%;
  height: 17px;
  width: 13px;
}

.nutritionist-note-site .text-8 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .list-bullets {
  align-items: flex-end;
  padding: 5.2px 3.4px;
}

.nutritionist-note-site .group-32 {
  background-image: url(../img/flat-25@2x.png);
  background-size: 100% 100%;
  height: 14px;
  width: 17px;
}

.nutritionist-note-site .text-9 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .overlap-group1 {
  height: 52px;
  margin-left: 4px;
  position: relative;
  width: 52px;
}

.nutritionist-note-site .button-177 {
  align-items: flex-start;
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  height: 52px;
  left: 0;
  overflow: hidden;
  padding: 11px 13px;
  position: absolute;
  top: 0;
  width: 52px;
}

.nutritionist-note-site .group-33 {
  background-image: url(../img/flat-26@2x.png);
  background-size: 100% 100%;
  height: 17px;
  width: 17px;
}

.nutritionist-note-site .text-10 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .button-231 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 52px;
  margin-left: 657px;
  margin-top: 0;
  overflow: hidden;
  padding: 11px 21px;
  transition: all 0.2s ease-in;
  width: 118px;
}

.nutritionist-note-site .button-231:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-34 {
  height: 16px;
  width: 16px;
}

.nutritionist-note-site .dropdown-button-9 {
  align-items: flex-start;
  align-self: flex-start;
  border-color: var(--french-gray);
  border-radius: 6px;
  gap: 7px;
  margin-left: 7px;
  min-width: 103px;
  padding: 11.5px 20px;
}

.nutritionist-note-site .chevron-down-large {
  align-self: center;
  height: 18px;
  margin-bottom: 1.0px;
  width: 18px;
}

.nutritionist-note-site .dropdown-button-10 {
  align-items: flex-start;
  align-self: flex-start;
  border-color: var(--french-gray);
  border-radius: 6px;
  gap: 8px;
  margin-left: 2px;
  min-width: 87px;
  padding: 11.5px 20px;
}

.nutritionist-note-site .number-4 {
  line-height: 28px;
  min-width: 20px;
}

.nutritionist-note-site .group-35 {
  background-image: url(../img/flat-32@2x.png);
  background-size: 100% 100%;
  height: 17px;
  width: 19px;
}

.nutritionist-note-site .text-11 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .group-36 {
  height: 8px;
  left: 13px;
  position: absolute;
  top: 0;
  width: 7px;
}

.nutritionist-note-site .group-37 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}

.nutritionist-note-site .text-12 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .menu-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 2px;
  height: 24px;
  margin-left: 1px;
  margin-top: 0;
  padding: 9.2px 1.5px;
  width: 24px;
}

.nutritionist-note-site .group-3 {
  height: 6px;
  width: 6px;
}

.nutritionist-note-site .text-13 {
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.nutritionist-note-site .textarea-2 {
  align-items: flex-start;
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  gap: 9px;
  height: 304px;
  justify-content: flex-end;
  left: 0;
  min-width: 1533px;
  padding: 4px;
  position: absolute;
  top: 75px;
}

.nutritionist-note-site .medical-recommendati {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 7.5px;
  min-height: 168px;
  width: 1492px;
}

.nutritionist-note-site .button-container {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-left: 1.0px;
  margin-top: 25px;
  min-width: 218px;
}

.nutritionist-note-site .button-230 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 36px;
  overflow: hidden;
  padding: 6px 28.5px;
  transition: all 0.2s ease-in;
  width: 102px;
}

.nutritionist-note-site .button-230:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .submit {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .button-231-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--picton-blue);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 36px;
  overflow: hidden;
  padding: 6px 28.5px;
  transition: all 0.2s ease-in;
  width: 101px;
}

.nutritionist-note-site .button-231-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .cancel {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .container-1 {
  align-items: center;
  background-color: var(--mercury);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  min-height: 380px;
  padding: 24px 131px;
  width: 1920px;
}

.nutritionist-note-site .flex-row-8 {
  align-items: center;
  display: flex;
  height: 153px;
  margin-right: 3.0px;
  margin-top: 34px;
  min-width: 863px;
}

.nutritionist-note-site .flex-col-4 {
  align-items: flex-end;
  gap: 53px;
  min-height: 153px;
  width: 751px;
}

.nutritionist-note-site .overlap-group7 {
  height: 66px;
  position: relative;
  width: 751px;
}

.nutritionist-note-site .subscribe-to-our-newsletter {
  left: 301px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 265px;
}

.nutritionist-note-site .textbox-2 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px 0px 0px 6px;
  gap: 6px;
  height: 37px;
  left: 0;
  min-width: 751px;
  padding: 6.5px 12px;
  position: absolute;
  top: 29px;
}

.nutritionist-note-site .mail {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  width: 16px;
}

.nutritionist-note-site .input-your-email {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.nutritionist-note-site .flex-row-9 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  margin-right: 31px;
  min-width: 550px;
}

.nutritionist-note-site .services {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .services:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .resources {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 45px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .resources:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .organization {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 55px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .organization:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .button-9 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  display: flex;
  height: 36px;
  margin-bottom: 57.0px;
  overflow: hidden;
  padding: 6px 23.5px;
  transition: all 0.2s ease-in;
  width: 112px;
}

.nutritionist-note-site .button-9:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .subscribe {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 1px;
  white-space: nowrap;
}

.nutritionist-note-site .for-patient-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .for-patient-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .for-doctor-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .for-doctor-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .flex-col-5 {
  align-items: flex-start;
  gap: 12px;
  margin-left: 45px;
  min-height: 56px;
  width: 150px;
}

.nutritionist-note-site .review-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .review-us:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .need-to-know {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .need-to-know:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .about-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .about-us:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .contact-us {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .contact-us:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .flex-col-6 {
  align-items: center;
  align-self: flex-start;
  gap: 10px;
  margin-top: 12px;
  min-height: 69px;
  width: 1657px;
}

.nutritionist-note-site .for-nutritionist-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-right: 375.0px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.nutritionist-note-site .for-nutritionist-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .textbox-1 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  gap: 41px;
  height: 37px;
  min-width: 129px;
  padding: 6.5px 12px;
}

.nutritionist-note-site .language {
  letter-spacing: 0;
  line-height: 22px;
  min-width: 47px;
  white-space: nowrap;
}

.nutritionist-note-site .copyright {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 530px;
  margin-top: 1.0px;
  min-width: 116px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.nutritionist-note-site .copyright:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .text-40 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 17px;
  margin-top: 1.0px;
  width: 7px;
}

.nutritionist-note-site .privacy {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 46px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.nutritionist-note-site .privacy:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .text-3 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 9px;
  margin-top: 1.0px;
  width: 7px;
}

.nutritionist-note-site .terms {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 6px;
  margin-top: 1.0px;
  min-width: 39px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.nutritionist-note-site .terms:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .sitemap {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 7px;
  margin-top: 1.0px;
  min-width: 53px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.nutritionist-note-site .sitemap:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .logo-twitter-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 525px;
  margin-top: 1.0px;
  padding: 4.2px 2.3px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.nutritionist-note-site .logo-twitter-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-38 {
  background-image: url(../img/group-457@2x.png);
  background-size: 100% 100%;
  height: 16px;
  width: 19px;
}

.nutritionist-note-site .logo-facebook-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 2.4px 2.4px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.nutritionist-note-site .logo-facebook-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-39 {
  background-image: url(../img/group-458@2x.png);
  background-size: 100% 100%;
  height: 19px;
  width: 19px;
}

.nutritionist-note-site .logo-linkedin-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 0 3px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.nutritionist-note-site .logo-linkedin-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-40 {
  background-image: url(../img/group-459@2x.png);
  background-size: 100% 100%;
  height: 18px;
  width: 18px;
}

.nutritionist-note-site .logo-youtube-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-top: 1.0px;
  padding: 5.2px 2.4px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.nutritionist-note-site .logo-youtube-1:hover {
  transform: scale(1.1);
}

.nutritionist-note-site .group-41 {
  background-image: url(../img/group-456@2x.png);
  background-size: 100% 100%;
  height: 14px;
  width: 19px;
}

.nutritionist-note-site .avatar {
  border: 0px none;
  display: flex;
  overflow: hidden;
}

.nutritionist-note-site .dr {
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.nutritionist-note-site .dropdown-button {
  border: 1px solid;
  display: flex;
  height: 53px;
}

.nutritionist-note-site .flex {
  align-items: flex-start;
  display: flex;
}

.nutritionist-note-site .flex-col-7 {
  display: flex;
  flex-direction: column;
}

.nutritionist-note-site .number-5 {
  letter-spacing: 0;
  white-space: nowrap;
}

.nutritionist-note-site .place-5 {
  letter-spacing: 0;
  line-height: 30px;
}

.nutritionist-note-site .sidebar-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 266px;
}

.nutritionist-note-site .textbox {
  align-items: flex-start;
  display: flex;
}

.nutritionist-note-site .textbox-container-3 {
  align-items: flex-start;
  display: flex;
  gap: 200px;
  height: 83px;
  margin-left: 26px;
  min-width: 1080px;
}
