/* screen - review */

.review {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3255px;
  overflow: hidden;
  width: 1920px;
}

.review .group-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: -156px;
  margin-top: 20px;
  min-height: 419px;
  width: 2205px;
}

.review .group-25 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 140px;
  width: 2205px;
}

.review .flex-row {
  height: 50px;
  margin-left: 7.0px;
  min-width: 1860px;
}

.review .image {
  align-items: flex-start;
  border: 0px none;
  display: flex;
  height: 40px;
  padding: 1.9px 2.8px;
  width: 40px;
}

.review .group-container-1 {
  height: 36px;
  position: relative;
  width: 34px;
}

.review .group-2 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 34px;
}

.review .group-3 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 16px;
}

.review .group-4 {
  height: 16px;
  left: 18px;
  position: absolute;
  top: 20px;
  width: 16px;
}

.review .group-5 {
  height: 9px;
  left: 13px;
  position: absolute;
  top: 13px;
  width: 9px;
}

.review .cancer-detection {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 30px;
  min-height: 50px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
  width: 250px;
}

.review .cancer-detection:hover {
  transform: scale(1.1);
}

.review .button {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--picton-blue);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 1219px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 35px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .button:hover {
  transform: scale(1.1);
}

.review .group-6 {
  height: 12px;
  width: 9px;
}

.review .group-7 {
  height: 3px;
  margin-right: 4.23px;
  width: 3px;
}

.review .button-1 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 6px;
  height: 40px;
  margin-left: 21px;
  margin-top: 0;
  overflow: hidden;
  padding: 1px 30.5px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .button-1:hover {
  transform: scale(1.1);
}

.review .log-in {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 24px;
  margin-top: 0;
  padding: 1.5px 2.4px;
  width: 24px;
}

.review .group-container-2 {
  height: 21px;
  position: relative;
  width: 19px;
}

.review .group-8 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 13px;
}

.review .group-9 {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 5px;
  width: 7px;
}

.review .group-10 {
  height: 21px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 12px;
}

.review .container {
  align-items: flex-start;
  background-color: var(--sail);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  justify-content: flex-end;
  margin-right: 2.0px;
  min-width: 2203px;
  padding: 0 127.2px;
}

.review .frame {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 336px;
}

.review .frame:hover {
  transform: scale(1.1);
}

.review .place {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.review .frame-1 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 388px;
}

.review .frame-1:hover {
  transform: scale(1.1);
}

.review .frame-2 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 132.0px;
  transition: all 0.2s ease-in;
  width: 390px;
}

.review .frame-2:hover {
  transform: scale(1.1);
}

.review .for-patient {
  margin-left: 2px;
}

.review .frame-3 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 133.0px;
  transition: all 0.2s ease-in;
  width: 436px;
}

.review .frame-3:hover {
  transform: scale(1.1);
}

.review .for-nutritionist {
  margin-left: 1px;
}

.review .frame-4 {
  align-items: flex-start;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 80px;
  overflow: hidden;
  padding: 21px 134.0px;
  transition: all 0.2s ease-in;
  width: 370px;
}

.review .frame-4:hover {
  transform: scale(1.1);
}

.review .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/image-46-1.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  gap: 59px;
  margin-left: 27.0px;
  min-height: 279px;
  padding: 14px 90.0px;
  width: 1920px;
}

.review .home-review {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 0;
  margin-top: 44px;
  white-space: nowrap;
}

.review .title {
  letter-spacing: 0;
  line-height: 56px;
  min-height: 112px;
}

.review .flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 96px;
  height: 2217px;
  margin-top: 101px;
  min-width: 1726px;
}

.review .flex-col {
  flex-direction: column;
  min-height: 2215px;
  width: 1129px;
}

.review .image-42 {
  height: 639px;
  width: 1129px;
}

.review .flex-row-2 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-top: 25px;
  min-width: 1129px;
}

.review .date {
  align-self: flex-end;
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  width: 144px;
}

.review .name {
  align-self: flex-end;
  width: 149px;
}

.review .number-1 {
  margin-left: 658px;
}

.review .thumb-up-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 24px;
  margin-bottom: 2.0px;
  margin-left: 5px;
  padding: 1px;
  width: 24px;
}

.review .group {
  background-image: url(../img/group-569@2x.png);
  background-size: 100% 100%;
  height: 20px;
  width: 22px;
}

.review .number {
  margin-left: 30px;
}

.review .thumb-down-off-alt-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 24px;
  margin-bottom: 2.0px;
  margin-left: 5px;
  padding: 1px;
  width: 24px;
}

.review .group-1 {
  background-image: url(../img/group-568@2x.png);
  background-size: 100% 100%;
  height: 20px;
  width: 22px;
}

.review .flex-col-1 {
  margin-top: 30px;
  min-height: 1481px;
  width: 1129px;
}

.review .strength-in-the-fight-against-cancer {
  letter-spacing: 0;
  line-height: 50px;
  width: 566px;
}

.review .cancer-is-a-battle {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 30px;
  min-height: 180px;
  width: 1064px;
}

.review .container-1 {
  align-items: flex-start;
  background-color: var(--onahau);
  border: 1px solid;
  border-color: #bfd2f8;
  border-radius: 31px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  margin-top: 31px;
  min-width: 172px;
  padding: 12.0px 23.0px;
  transition: all 0.2s ease-in;
}

.review .container-1:hover {
  transform: scale(1.1);
}

.review .read-more {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.review .image-44 {
  height: 700px;
  margin-top: 43px;
  width: 1129px;
}

.review .flex-row-3 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-top: 25px;
  min-width: 1129px;
}

.review .date-1 {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  width: 144px;
}

.review .name-1 {
  width: 175px;
}

.review .number-2 {
  margin-left: 632px;
}

.review .thumb-up-1-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-left: 5px;
  margin-top: 2.0px;
  padding: 1px;
  width: 24px;
}

.review .thumb-down-off-alt-1-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  margin-left: 5px;
  margin-top: 2.0px;
  padding: 1px;
  width: 24px;
}

.review .dedicated-heroes-in {
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 26px;
  width: 1129px;
}

.review .in-the-ever-demandin {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 248px;
  width: 1129px;
}

.review .flex-col-2 {
  min-height: 2217px;
  width: 501px;
}

.review .textbox-1 {
  background-color: var(--white);
  border-color: var(--eerie-black);
  border-radius: 4px;
  gap: 345px;
  height: 72px;
  min-width: 501px;
  padding: 16px 20px;
}

.review .search {
  letter-spacing: 0;
  line-height: 38px;
  min-width: 77px;
  white-space: nowrap;
}

.review .radio-btn {
  height: 38px;
  margin-top: 0.5px;
  width: 38px;
}

.review .container-4 {
  align-items: flex-start;
  background-color: var(--onahau);
  border: 2px solid;
  border-color: var(--mirage);
  border-radius: 4px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  gap: 2px;
  height: 898px;
  margin-left: 1px;
  margin-top: 26px;
  overflow: hidden;
  padding: 30.0px 64px;
  width: 500px;
}

.review .flex-col-3 {
  align-self: center;
  margin-bottom: 135.0px;
  min-height: 537px;
  width: 82px;
}

.review .avatar-3 {
  border-radius: 40px;
  width: 79px;
}

.review .rectangle {
  height: 79px;
  width: 79px;
}

.review .avatar-4 {
  border-radius: 39px;
  margin-top: 15px;
  width: 77px;
}

.review .rectangle-1 {
  height: 77px;
  width: 77px;
}

.review .avatar-2 {
  border-radius: 40px;
  margin-top: 13px;
  width: 79px;
}

.review .image-9 {
  height: 75px;
  margin-top: 15px;
  width: 75px;
}

.review .avatar-1 {
  border-radius: 41px;
  margin-left: 1px;
  margin-top: 10px;
  width: 81px;
}

.review .rectangle-2 {
  height: 81px;
  width: 81px;
}

.review .image-4 {
  height: 77px;
  margin-left: 1px;
  margin-top: 16px;
  width: 77px;
}

.review .flex-col-4 {
  min-height: 591px;
  width: 288px;
}

.review .recent-posts {
  letter-spacing: 0;
  line-height: 54px;
  white-space: nowrap;
}

.review .overlap-group1 {
  height: 75px;
  margin-left: 10px;
  margin-top: 29px;
  position: relative;
  width: 114px;
}

.review .oliviamiller {
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 25px;
  width: 114px;
}

.review .date-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 97px;
}

.review .overlap-group2 {
  height: 73px;
  margin-left: 10px;
  margin-top: 17px;
  position: relative;
  width: 114px;
}

.review .julia_lopez {
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.review .date-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.review .overlap-group4 {
  height: 75px;
  margin-left: 10px;
  margin-top: 17px;
  position: relative;
  width: 169px;
}

.review .sarah_miller_93 {
  left: 0;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.review .date-4 {
  left: 0;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 116px;
}

.review .overlap-group3 {
  height: 55px;
  margin-left: 10px;
  margin-top: 17px;
  position: relative;
  width: 152px;
}

.review .hannah_taylor {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.review .date-5 {
  color: var(--tuna);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.review .date-6 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 13px;
  margin-top: 32px;
  white-space: nowrap;
}

.review .onlynicolewilson {
  color: #8a8b8d;
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 11px;
  margin-top: 10px;
  white-space: nowrap;
}

.review .date-7 {
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 11px;
  margin-top: 33px;
  white-space: nowrap;
}

.review .emily_taylor_98 {
  align-self: flex-end;
  color: #78797b;
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 1px;
  width: 277px;
}

.review .container-3 {
  align-items: flex-start;
  background-color: var(--onahau);
  border: 1px solid;
  border-color: var(--mirage);
  border-radius: 6px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: 135px;
  min-height: 1086px;
  padding: 48.0px 50.0px;
  width: 500px;
}

.review .categories {
  align-self: center;
  letter-spacing: 0;
  line-height: 50px;
  min-width: 168px;
  white-space: nowrap;
}

.review .patient-testimonials {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 0;
  margin-top: 40px;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .patient-testimonials:hover {
  transform: scale(1.1);
}

.review .container-3-item {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 0;
  margin-top: 34px;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .container-3-item:hover {
  transform: scale(1.1);
}

.review .professional {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 0;
  margin-top: 34px;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  width: 160px;
}

.review .professional:hover {
  transform: scale(1.1);
}

.review .container-3-item-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 34px;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .container-3-item-1:hover {
  transform: scale(1.1);
}

.review .support-groups-resources {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 0;
  margin-top: 34px;
  text-decoration: underline;
  transition: all 0.2s ease-in;
  width: 347px;
}

.review .support-groups-resources:hover {
  transform: scale(1.1);
}

.review .container-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 20px;
  min-height: 478px;
  width: 1920px;
}

.review .container-1-1 {
  align-items: flex-start;
  background-color: var(--onahau);
  border: 1px solid;
  border-color: #bfd2f8;
  border-radius: 31px;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  margin-left: 97px;
  min-width: 166px;
  padding: 12.0px 17.0px;
  transition: all 0.2s ease-in;
}

.review .container-1-1:hover {
  transform: scale(1.1);
}

.review .read-more-1 {
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.review .container-1-2 {
  background-color: var(--mercury);
  border: 0px none;
  box-shadow: 0px 0px 1px #171a1f12 , 0px 0px 2px #171a1f1f;
  cursor: pointer;
  height: 380px;
  position: relative;
  transition: all 0.2s ease;
  width: 1920px;
}

.review .overlap-group {
  height: 66px;
  left: 527px;
  position: absolute;
  top: 58px;
  width: 751px;
}

.review .subscribe-to-our-newsletter {
  left: 301px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 265px;
}

.review .textbox-2 {
  background-color: var(--gallery);
  border-color: transparent;
  border-radius: 6px 0px 0px 6px;
  gap: 6px;
  height: 37px;
  left: 0;
  min-width: 751px;
  padding: 6.5px 12px;
  position: absolute;
  top: 29px;
}

.review .mail {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  width: 16px;
}

.review .input-your-email {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  padding: 0;
  white-space: nowrap;
  width: 99px;
}

.review .textbox-1-1 {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: transparent;
  border-radius: 6px;
  display: flex;
  gap: 41px;
  height: 37px;
  left: 131px;
  min-width: 129px;
  padding: 6.5px 12px;
  position: absolute;
  top: 319px;
}

.review .language {
  letter-spacing: 0;
  line-height: 22px;
  min-width: 47px;
  white-space: nowrap;
}

.review .chevron-down-large {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  width: 16px;
}

.review .sitemap {
  cursor: pointer;
  left: 1066px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 327px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .sitemap:hover {
  transform: scale(1.1);
}

.review .text-12 {
  left: 1052px;
}

.review .copyright {
  cursor: pointer;
  left: 790px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 327px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .copyright:hover {
  transform: scale(1.1);
}

.review .privacy {
  cursor: pointer;
  left: 936px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 327px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .privacy:hover {
  transform: scale(1.1);
}

.review .terms {
  cursor: pointer;
  left: 1004px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 327px;
  transition: all 0.2s ease-in;
  white-space: nowrap;
}

.review .terms:hover {
  transform: scale(1.1);
}

.review .text-13 {
  left: 991px;
}

.review .text-14 {
  left: 923px;
}

.review .button-9 {
  align-items: flex-start;
  background-color: var(--picton-blue);
  border: 1px solid;
  border-color: transparent;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
  display: flex;
  height: 36px;
  left: 1278px;
  overflow: hidden;
  padding: 6px 23.5px;
  position: absolute;
  top: 88px;
  transition: all 0.2s ease-in;
  width: 112px;
}

.review .button-9:hover {
  transform: scale(1.1);
}

.review .subscribe {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 1px;
  white-space: nowrap;
}

.review .logo-youtube-1 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  height: 24px;
  left: 1764px;
  padding: 5.2px 2.4px;
  position: absolute;
  top: 326px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.review .logo-youtube-1:hover {
  transform: scale(1.1);
}

.review .group-11 {
  background-image: url(../img/group-555@2x.png);
  background-size: 100% 100%;
  height: 14px;
  width: 19px;
}

.review .logo-twitter-1 {
  align-items: flex-end;
  display: flex;
  height: 24px;
  left: 1644px;
  padding: 4.2px 2.3px;
  position: absolute;
  top: 326px;
  width: 24px;
}

.review .group-12 {
  background-image: url(../img/group-457@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 16px;
  transition: all 0.2s ease-in;
  width: 19px;
}

.review .group-12:hover {
  transform: scale(1.1);
}

.review .logo-facebook-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 24px;
  left: 1684px;
  padding: 2.4px 2.4px;
  position: absolute;
  top: 326px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.review .logo-facebook-1:hover {
  transform: scale(1.1);
}

.review .group-13 {
  background-image: url(../img/group-458@2x.png);
  background-size: 100% 100%;
  height: 19px;
  width: 19px;
}

.review .logo-linkedin-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  left: 1724px;
  padding: 0 3px;
  position: absolute;
  top: 326px;
  transition: all 0.2s ease-in;
  width: 24px;
}

.review .logo-linkedin-1:hover {
  transform: scale(1.1);
}

.review .group-14 {
  background-image: url(../img/group-459@2x.png);
  background-size: 100% 100%;
  height: 18px;
  width: 18px;
}

.review .organization {
  cursor: pointer;
  left: 1097px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 181px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .organization:hover {
  transform: scale(1.1);
}

.review .about-us {
  cursor: pointer;
  left: 1097px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 219px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .about-us:hover {
  transform: scale(1.1);
}

.review .contact-us {
  cursor: pointer;
  left: 1097px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 253px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .contact-us:hover {
  transform: scale(1.1);
}

.review .services {
  cursor: pointer;
  left: 697px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 177px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .services:hover {
  transform: scale(1.1);
}

.review .for-patient-1 {
  cursor: pointer;
  left: 697px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 219px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .for-patient-1:hover {
  transform: scale(1.1);
}

.review .for-doctor-1 {
  cursor: pointer;
  left: 697px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 253px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .for-doctor-1:hover {
  transform: scale(1.1);
}

.review .resources {
  cursor: pointer;
  left: 892px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 177px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .resources:hover {
  transform: scale(1.1);
}

.review .review-us {
  cursor: pointer;
  left: 892px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 219px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .review-us:hover {
  transform: scale(1.1);
}

.review .need-to-know {
  cursor: pointer;
  left: 892px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 253px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .need-to-know:hover {
  transform: scale(1.1);
}

.review .for-nutritionist-1 {
  cursor: pointer;
  left: 697px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 287px;
  transition: all 0.2s ease-in;
  width: 150px;
}

.review .for-nutritionist-1:hover {
  transform: scale(1.1);
}

.review .avatar {
  align-items: flex-start;
  background-color: var(--linen);
  border: 0px none;
  display: flex;
  overflow: hidden;
}

.review .flex {
  align-items: flex-start;
  display: flex;
}

.review .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.review .name-2 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 30px;
}

.review .number-3 {
  letter-spacing: 0;
  line-height: 36px;
  width: 30px;
}

.review .text {
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 329px;
  width: 7px;
}

.review .textbox {
  align-items: flex-start;
  border: 1px solid;
  display: flex;
}
